In [2]:
import pandas as pd
import numpy as np

all_p = np.empty([1,0])

for f in ["EXP","IMP"]:
    for y in [str(x) for x in range(1997,2020)]:
        filename = "{}_{}_MUN.csv".format(f,y)
        df = pd.read_csv("./data_temp/"+filename, sep=";")["CO_PAIS"]
        c = np.array(df.values)
        print("{} {} ".format(f,y), c)
        all_p = np.append(all_p, c)
        
p = np.unique(all_p)
p

EXP 1997  [249 249 275 ... 845 249  63]
EXP 1998  [586 845  63 ... 386  63  63]
EXP 1999  [ 63  97  97 ... 361 169 756]
EXP 2000  [ 63 586 249 ... 149  97 196]
EXP 2001  [ 97 158 845 ... 431 386 285]
EXP 2002  [ 69 776 158 ... 507  63  53]
EXP 2003  [589 850 267 ... 858  40 586]
EXP 2004  [ 63 493 169 ... 827 169 249]
EXP 2005  [275 845  87 ... 249  23  97]
EXP 2006  [528  97  97 ...  63 756  40]
EXP 2007  [764 158 249 ... 767 607 249]
EXP 2008  [ 63  97 647 ...  23 845 589]
EXP 2009  [158 845 589 ... 249  40 361]
EXP 2010  [586 249  97 ... 196 845 399]
EXP 2011  [169 647 403 ... 244 249 249]
EXP 2012  [ 63 586 249 ...  40 586  69]
EXP 2013  [845 249  97 ... 586 586  97]
EXP 2014  [361 245 628 ... 249  63 317]
EXP 2015  [158  97 399 ... 158 815 351]
EXP 2016  [687 249 351 ...  59 589 845]
EXP 2017  [ 63 603 249 ... 827 149 845]
EXP 2018  [ 97 434 301 ...  63  97 586]
EXP 2019  [493 169  63 ... 586 158 244]
IMP 1997  [275 386 249 ... 365 576 351]
IMP 1998  [275 455 275 ...  72 249 386]
IMP 1999  [275 249 399 ... 245 249 275]
IMP 2000  [249  63  63 ... 249 249 232]
IMP 2001  [160 249 386 ... 271 275 445]
IMP 2002  [ 23 249  23 ... 386  85 249]
IMP 2003  [249 249 249 ... 245 249 267]
IMP 2004  [160  23 628 ...  23 275 399]
IMP 2005  [355 386 455 ... 239 249 767]
IMP 2006  [249 160 249 ...  23 249 386]
IMP 2007  [161 249 249 ... 399 249  23]
IMP 2008  [249 767 160 ... 249 158 245]
IMP 2009  [764 249 160 ...  23 160 386]
IMP 2010  [160  23 240 ... 149 160  63]
IMP 2011  [249 160  63 ...  69 249  69]
IMP 2012  [249 160  23 ... 399  23 845]
IMP 2013  [249 160 160 ... 827 160 399]
IMP 2014  [741  23 386 ... 355 149 249]
IMP 2015  [190 249 386 ... 791  23 160]
IMP 2016  [232 160 249 ... 628 628  72]
IMP 2017  [750 161 607 ... 160  23 493]
IMP 2018  [767 160 249 ... 275 232 190]
IMP 2019  [361  23 190 ... 386 249 245]

array([  0.,  13.,  15.,  17.,  23.,  31.,  37.,  40.,  41.,  42.,  43.,
        47.,  53.,  59.,  63.,  64.,  65.,  69.,  72.,  73.,  77.,  80.,
        81.,  83.,  85.,  87.,  88.,  90.,  93.,  97.,  98.,  99., 101.,
       102., 105., 108., 111., 115., 119., 127., 137., 141., 145., 149.,
       150., 151., 152., 153., 154., 158., 160., 161., 163., 165., 169.,
       173., 177., 183., 187., 190., 193., 195., 196., 198., 199., 200.,
       229., 232., 235., 239., 240., 243., 244., 245., 246., 247., 249.,
       251., 253., 255., 259., 267., 271., 275., 281., 285., 289., 291.,
       293., 297., 301., 305., 309., 313., 317., 321., 325., 329., 331.,
       334., 337., 341., 343., 345., 351., 355., 357., 359., 361., 365.,
       367., 369., 372., 375., 379., 383., 386., 388., 391., 393., 396.,
       399., 403., 411., 420., 423., 426., 427., 431., 434., 438., 440.,
       442., 445., 447., 449., 450., 452., 455., 458., 461., 464., 467.,
       472., 474., 476., 477., 485., 488., 489., 490., 493., 494., 495.,
       497., 498., 499., 501., 505., 507., 508., 511., 517., 521., 525.,
       528., 531., 535., 538., 542., 545., 548., 551., 556., 566., 573.,
       575., 576., 578., 580., 586., 589., 593., 599., 603., 607., 611.,
       623., 625., 628., 640., 647., 660., 665., 670., 675., 676., 677.,
       678., 685., 687., 690., 691., 693., 695., 697., 698., 699., 700.,
       705., 710., 715., 720., 728., 731., 735., 737., 741., 744., 748.,
       750., 754., 756., 759., 760., 764., 767., 770., 772., 776., 780.,
       781., 782., 783., 788., 790., 791., 795., 800., 805., 810., 815.,
       820., 823., 824., 827., 828., 831., 833., 845., 847., 848., 850.,
       858., 863., 866., 870., 873., 875., 888., 890., 895., 990., 994.,
       995., 997., 999.])

In [12]:
g1 = pd.read_csv("./resources/PAIS.csv", sep=";", encoding="latin-1")
g1_dict = {k:v for (k,v) in zip(g1["CO_PAIS"],g1["CO_PAIS_ISOA3"])}

g2 = pd.read_csv("./resources/shared_countries.csv")
g2_dict = {k:v for (k,v) in zip(g2["iso3"],g2["id_num"])}

u = [int(x) for x in p]
u = pd.Series(u).map(g1_dict).str.lower()
u = pd.DataFrame({"iso3":u})
u = u.merge(g2[["iso3","id_num"]], on="iso3", how="left")
u[u["id_num"].isnull()]

    iso3  id_num
2    ala     NaN
9    ata     NaN
33   bvt     NaN
44   ggy     NaN
82   fro     NaN
99   ggy     NaN
106  hmd     NaN
111  imn     NaN
135  lso     NaN
210  esh     NaN
219  sxm     NaN
267  vat     NaN
279  pcz     NaN